@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-link-service:nth-child(odd) {
  justify-content: flex-start;
}

.flex-link-service:nth-child(even) {
  justify-content: flex-end ; 
}

@font-face {
  font-family: 'Chewy';
  src: url('./Assets/fonts/Chewy,Montserrat,Open_Sans,Raleway/Chewy/Chewy-Regular.ttf')format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("./Assets/fonts/Chewy,Montserrat,Open_Sans,Raleway/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Buba';
  src: url("./Assets/fonts/buba/BubaDEMO-Outline.otf") format('opentype');
  font-weight: 100 900;
  font-style: normal;
}


p,span,ul,button {
  font-family: 'Open Sans';
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Chewy';
}